ultralytics==8.1.42
opencv-python==4.9.0.80
numpy==1.26.4
torch==2.3.0
torchvision==0.18.0

# Extra dependencies for IMX export
# These versions are pinned to a known compatible set to avoid conflicts.
sony-custom-layers==0.3.0
imx500-converter[pt]==3.16.1
model-compression-toolkit==2.4.0
mct-quantizers==1.5.0
edge-mdt-tpc==1.1.0
onnx==1.16.0
onnxruntime==1.18.0 